section.people 
    .container 
        +blockBox("Happy clients", "What people say")
        ul.people-list 
            +peopleItem
            +peopleItem("../images/img-people2.png", "Matthew Dix ", "Graphic design", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
            +peopleItem("../images/img-people3.png", "Matthew Dix ", "Graphic design", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
            +peopleItem("../images/img-people4.png", "Matthew Dix ", "Graphic design", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
            