section.quote 
	.container 
		.quote-container
			//- i.fa.fa-angle-left.quote-arrow-left.quote-arrow
			+quoteItem 
			+quoteItem 
			+quoteItem 
			//- .quote-content 
			//-     .quote-icon 
			//-         img(src="../images/img-quote.png")
			//-     .quote-info
			//-         p.quote-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			//-         p.quote-author Jon Doe
			//- .quote-content 
			//-     .quote-icon 
			//-         img(src="../images/img-quote.png")
			//-     .quote-info
			//-         p.quote-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			//-         p.quote-author Jon Doe
			//- .quote-content 
			//-     .quote-icon 
			//-         img(src="../images/img-quote.png")
			//-     .quote-info
			//-         p.quote-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			//-         p.quote-author Jon Doe
			//- i.fa.fa-angle-right.quote-arrow-right.quote-arrow